/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding doesn't affect overall width */
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #ffffff;
    text-align: center;
    line-height: 1.6; /* Increased line height for better readability */
}

.header-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Normalize title fonts */
h1, h2, h3 {
    color: #333;
    font-weight: normal;
    font-size: 24px; /* Standardized font size for titles */
    margin-bottom: 15px; /* Added space below titles */
}

/* Normalize body fonts */
p, label, input[type="text"], button, #dogZodiacInfo li {
    font-size: 18px; /* Standardized font size for body text */
    margin-bottom: 10px; /* Added space below each element */
}

input[type="text"], button {
    width: 90%;
    padding: 15px;
    margin-top: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 18px; /* Align with body font size */
}

button {
    background-color: #007aff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#dogZodiacInfo {
    text-align: left;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#dogZodiacInfo h3 {
    color: #007aff;
    margin-bottom: 15px;
}

#dogZodiacInfo ul {
    list-style-type: none;
    padding: 0;
}

#dogZodiacInfo li {
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

#dogZodiacInfo li b {
    color: #4CAF50;
}

.date {
    float: right; /* Right-align the dates */
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    h1, h2, h3 {
        font-size: 28px; /* Slightly larger font size for mobile titles */
    }

    p, label, input[type="text"], button, #dogZodiacInfo li {
        font-size: 16px; /* Slightly larger font size for mobile body text */
    }
}

/* Additional styling as needed */